Source: salt-formula-openode
Maintainer: Michael Kuty <michael.kuty@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-openode
Vcs-Git: https://github.com/tcpcloud/salt-formula-openode.git

Package: salt-formula-openode
Architecture: all
Depends: ${misc:Depends}
Description: Openode salt formula
 Install and configure Openode service.
